/* GENERAL DISPLAY SETTINGS */
@font-face {
  font-family: GT Sectra;
  src: url("/assets/fonts/GT-Sectra-Display-Regular-Italic.ttf");
  src: url("/assets/fonts/GT-Sectra-Display-Regular-Italic.woff");
  src: url("/assets/fonts/GT-Sectra-Display-Regular-Italic.woff2");
}
@font-face {
  font-family: Made Sans;
  src: url("/assets/fonts/MadeSans-Medium.ttf");
  src: url("/assets/fonts/MadeSans-Medium.woff");
  src: url("/assets/fonts/MadeSans-Medium.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", Arial, Helvetica;
}

/* DISPLAY */
.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.container-xxl {
  max-width: 1200px;
  margin: 0 auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

/* PADDING / MARGIN - SETUP */
/* BASE COLORS */
/* MARGIN / PADDING - UTILITY CLASSES */
.mx-auto {
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-xs {
  margin-top: 8px;
}

.mt-sm {
  margin-top: 16px;
}

.mt-md {
  margin-top: 32px;
}

.mt-lg {
  margin-top: 64px;
}

.mt-xl {
  margin-top: 80px;
}

.mt-xxl {
  margin-top: 160px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-xs {
  margin-bottom: 8px;
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-md {
  margin-bottom: 32px;
}

.mb-lg {
  margin-bottom: 64px;
}

.mb-xl {
  margin-bottom: 80px;
}

.mb-xxl {
  margin-bottom: 160px;
}

.ms-0 {
  margin-top: 0;
}

.ms-xs {
  margin-left: 8px;
}

.ms-sm {
  margin-left: 16px;
}

.ms-md {
  margin-left: 32px;
}

.ms-lg {
  margin-left: 64px;
}

.ms-xl {
  margin-left: 80px;
}

.ms-xxl {
  margin-left: 160px;
}

.me-0 {
  margin-right: 0;
}

.me-xs {
  margin-right: 8px;
}

.me-sm {
  margin-right: 16px;
}

.me-md {
  margin-right: 32px;
}

.me-lg {
  margin-right: 64px;
}

.me-xl {
  margin-right: 80px;
}

.me-xxl {
  margin-right: 160px;
}

.p-0 {
  padding: 0;
}

.p-xs {
  padding: 8px;
}

.p-sm {
  padding: 16px;
}

.p-md {
  padding: 32px;
}

.p-lg {
  padding: 64px;
}

.p-xl {
  padding: 80px;
}

.p-xxl {
  padding: 160px;
}

.pt-0 {
  padding-top: 0;
}

.pt-xs {
  padding-top: 8px;
}

.pt-sm {
  padding-top: 16px;
}

.pt-md {
  padding-top: 32px;
}

.pt-lg {
  padding-top: 64px;
}

.pt-xl {
  padding-top: 80px;
}

.pt-xxl {
  padding-top: 160px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-xs {
  padding-bottom: 8px;
}

.pb-sm {
  padding-bottom: 16px;
}

.pb-md {
  padding-bottom: 32px;
}

.pb-lg {
  padding-bottom: 64px;
}

.pb-xl {
  padding-bottom: 80px;
}

.pb-xxl {
  padding-bottom: 160px;
}

/* SANS SERIF - DM SANS -> UPDATE TO MADE SANS*/
.txt-ss-h0 {
  font-family: "Made Sans", Arial, Helvetica;
  font-size: 140px;
  line-height: 120%;
  font-weight: 500;
}

.txt-ss-h1 {
  font-family: "Made Sans", Arial, Helvetica;
  font-size: 100px;
  line-height: 120%;
  font-weight: 500;
}

.txt-ss-h2 {
  font-family: "Made Sans", Arial, Helvetica;
  font-size: 77px;
  line-height: 120%;
  font-weight: 500;
}

.txt-ss-h3 {
  font-family: "Made Sans", Arial, Helvetica;
  font-size: 60px;
  line-height: 120%;
  font-weight: 500;
}

.txt-ss-h4 {
  font-family: "Made Sans", Arial, Helvetica;
  font-size: 36px;
  line-height: 120%;
  font-weight: 500;
}

.txt-ss-sub1 {
  font-family: "DM Sans", Arial, Helvetica;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}

.txt-ss-sub2 {
  font-family: "DM Sans", Arial, Helvetica;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.txt-ss-body1 {
  font-family: "DM Sans", Arial, Helvetica;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.txt-ss-body2 {
  font-family: "DM Sans", Arial, Helvetica;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

/* ITALICS -- SPECTRA GT */
.txt-it-h0 {
  font-family: "GT Sectra", Arial, Helvetica;
  font-size: 153px;
  line-height: 120%;
  font-weight: 300;
  font-style: italic;
}

.txt-ss-h1 {
  font-family: "GT Sectra", Arial, Helvetica;
  font-size: 110px;
  line-height: 120%;
  font-weight: 300;
  font-style: italic;
}

.txt-it-h2 {
  font-family: "GT Sectra", Arial, Helvetica;
  font-size: 84px;
  line-height: 120%;
  font-weight: 300;
  font-style: italic;
}

.txt-it-h3 {
  font-family: "GT Sectra", Arial, Helvetica;
  font-size: 65px;
  line-height: 120%;
  font-weight: 300;
  font-style: italic;
}

.txt-it-h4 {
  font-family: "GT Sectra", Arial, Helvetica;
  font-size: 40px;
  line-height: 120%;
  font-weight: 300;
  font-style: italic;
}

.txt-it-sub1 {
  font-family: "GT Sectra", Arial, Helvetica;
  font-size: 31px;
  line-height: 120%;
  font-weight: 300;
  font-style: italic;
}

/* INDENT */
.indent-xxl {
  text-indent: 160px;
}

/* TEXT COLORS */
.txt-white {
  color: #FFFFFF;
}

.txt-nt-10 {
  color: #F3F5F5;
}

.txt-nt-15 {
  color: #DAE3E3;
}

.txt-nt-60 {
  color: #444F4F;
}

.txt-nt-100 {
  color: #212323;
}

.txt-gr-30 {
  color: #B6C6C6;
}

.txt-gr-50 {
  color: #6F8484;
}

.txt-gr-80 {
  color: #243838;
}

.txt-pp-30 {
  color: #C1C1E5;
}

.txt-pp-50 {
  color: #7777AA;
}

.txt-pp-75 {
  color: #7137F6;
}

.txt-pp-80 {
  color: #6224F3;
}

/* BG COLORS - ADDED STYLE FOR ITALIC ACCENT TEXTS */
/* BACKGROUND COLORS */
.bg-white {
  background-color: #FFFFFF;
}

.bg-nt-10 {
  background-color: #F3F5F5;
}

.bg-nt-15 {
  background-color: #DAE3E3;
}

.bg-nt-60 {
  background-color: #444F4F;
}

.bg-nt-100 {
  background-color: #212323;
}

.bg-gr-30 {
  background-color: #B6C6C6;
}

.bg-gr-50 {
  background-color: #6F8484;
}

.bg-gr-80 {
  background-color: #243838;
}

.bg-pp-30 {
  background-color: #C1C1E5;
}

.bg-pp-50 {
  background-color: #7777AA;
}

.bg-pp-75 {
  background-color: #7137F6;
}

.bg-pp-80 {
  background-color: #6224F3;
}

.bg-transparant {
  background-color: rgba(255, 255, 255, 0.02);
}

/* NAVBAR SECTIE --> QUICK STYLING */
#header {
  width: 100%;
  background-image: url("/assets/images/header_img_running.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.header-title-block {
  color: #F3F5F5;
}

/* SECTION SETTINGS ? */
.section-block {
  padding-top: 32px;
  padding-left: 32px;
}

.section-heading {
  color: #444F4F;
}

/* COVER */
.cover-image {
  width: 100%;
  height: auto;
  max-height: 480px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}

/* NAVBAR SECTIE --> QUICK STYLING */
.navbar {
  background-color: rgba(255, 255, 255, 0.02);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}
.navbar .navbar-brand a {
  text-decoration: none;
  color: #F3F5F5;
  font-size: 24px;
  font-weight: 500;
}
.navbar .navbar-list {
  list-style-type: none;
  text-decoration: none;
}
.navbar .navbar-list .navbar-listitem {
  display: inline-block;
  margin-right: 3rem;
  font-weight: 300;
}
.navbar .navbar-list .navbar-listitem:last-of-type {
  margin-right: 0;
}
.navbar .navbar-link {
  text-decoration: none;
  color: #F3F5F5;
}
.navbar .contact-button {
  text-decoration: none;
  font-weight: 0;
  color: #F3F5F5;
  background-color: #6224F3;
  padding: 0.5rem 1rem;
}

.countdown {
  text-align: center;
  margin-top: 64px;
}
.countdown .countdown-wrap {
  width: 30vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.countdown .countdown-wrap .countdown-data {
  text-align: center;
  width: 25%;
}
.countdown .countdown-wrap .countdown-data .countdown-number {
  color: #212323;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}
.countdown .countdown-wrap .countdown-data .countdown-label {
  color: #6F8484;
}
.countdown .countdown-wrap .countdown-dot {
  color: #444F4F;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 48px;
}

#progressbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 80px;
  background-color: #C1C1E5;
}

#progress-fill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 30%;
  height: 100%;
  background-color: #6224F3;
  text-align: center;
  line-height: 64px;
  color: #C1C1E5;
}

.fill-text--left {
  color: #F3F5F5;
  display: inline-block;
  margin-left: 32px;
}

.fill-text--right {
  color: #F3F5F5;
  display: inline-block;
  margin-right: 32px;
}

.progress-text {
  color: #6224F3;
  display: inline-block;
  margin-right: 32px;
}

.metrics-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 80px;
  padding-left: 32px;
}
.metrics-box .metric-column {
  width: 33.33%;
}
.metrics-box .metric-column .metric-label {
  color: #444F4F;
}
.metrics-box .metric-column .metric-text {
  color: #444F4F;
  max-width: 75%;
}

.quote-block {
  padding-top: 160px;
  padding-left: 32px;
}
.quote-block .quote-block-text {
  text-indent: 160px;
}

.support-block-textwrap {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
.support-block-textwrap .quote-block-text {
  text-indent: 160px;
}

.copy-box {
  width: 100%;
  margin: 80px 32px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
.copy-box .copy-column-left {
  min-width: 25%;
}
.copy-box .copy-column-left .copy-label {
  color: #6F8484;
  font-weight: 400;
}
.copy-box .copy-column-right {
  min-width: 75%;
}

.actions-box {
  width: 100%;
  margin: 64px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.actions-box .actions-column-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 520px;
}
.actions-box .actions-column-left .actions-icon {
  margin-right: 64px;
}
.actions-box .actions-column-left .actions-label {
  color: #212323;
}
.actions-box .actions-column-right {
  margin-right: 160px;
}
.actions-box .actions-column-right .actions-column-text {
  display: inline-block;
  width: 60ch;
}

.event-carousel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 64px;
}
.event-carousel .event-card {
  width: 33.33%;
  min-height: 320px;
}
.event-carousel .event-card .event-card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.actions-carousel {
  width: 100%;
  max-width: 1400px;
  margin: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: scroll;
}
.actions-carousel .actions-card {
  margin: 8px;
  max-width: 332px;
  min-height: 240px;
}
.actions-carousel .actions-card .card-labelrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.actions-carousel .actions-card .card-labelrow .actions-cardlabel {
  display: inline-block;
  color: #243838;
}
.actions-carousel .actions-card .card-labelrow .actions-labelicon {
  height: 14px;
  margin: 0 8px;
}
.actions-carousel .actions-card .actions-card-img {
  width: 100%;
  height: 207px;
  object-fit: cover;
}

.donate-block-textwrap {
  width: 50%;
  margin: 0 auto;
  text-align: start;
  margin-top: 64px;
  margin-bottom: 64px;
}
.donate-block-textwrap .donate-button {
  text-decoration: none;
  font-weight: 200;
  color: #F3F5F5;
  background-color: #6224F3;
  padding: 0.5rem 1rem;
}

.playlist-box {
  width: 100%;
  margin: 80px 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.playlist-box .playlist-column-left {
  width: 100%;
}
.playlist-box .playlist-column-left .playlist-label {
  color: #6F8484;
  font-weight: 400;
}
.playlist-box .playlist-column-right {
  min-width: 60%;
  align-self: center;
}
.playlist-box .playlist-column-right .playlist-frame {
  border-radius: 12px;
}

/*# sourceMappingURL=main.css.map */
