/* GENERAL DISPLAY SETTINGS */

@font-face {
    font-family: GT Sectra;
    src: url("/assets/fonts/GT-Sectra-Display-Regular-Italic.ttf");
    src: url("/assets/fonts/GT-Sectra-Display-Regular-Italic.woff");
    src: url("/assets/fonts/GT-Sectra-Display-Regular-Italic.woff2");
  }
  @font-face {
    font-family: Made Sans;
    src: url("/assets/fonts/MadeSans-Medium.ttf");
    src: url("/assets/fonts/MadeSans-Medium.woff");
    src: url("/assets/fonts/MadeSans-Medium.woff2");
  }


$font-sans: 'Made Sans', Arial, Helvetica;
$font-dm-sans: 'DM Sans', Arial, Helvetica;
$font-italic: 'GT Sectra', Arial, Helvetica;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-dm-sans;
}

body {
    width: 100%;
}

/* DISPLAY */ 

.container-fluid {
    width: 100%;
    margin: 0 auto;
}
.container-xxl {
    max-width: 1200px;
    margin: 0 auto;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}

/* PADDING / MARGIN - SETUP */
$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 32px;
$margin-lg: 64px;
$margin-xl: 80px;
$margin-xxl: 160px;

$padding-xs: 8px;
$padding-sm: 16px;
$padding-md: 32px;
$padding-lg: 64px;
$padding-xl: 80px;
$padding-xxl: 160px;

/* BASE COLORS */
$color-white: #FFFFFF;
$color-neutral--10: #F3F5F5;
$color-neutral--15: #DAE3E3;
$color-neutral--60: #444F4F;
$color-neutral--100: #212323;

$color-green--30: #B6C6C6;
$color-green--50: #6F8484;
$color-green--80: #243838;

$color-purple--30: #C1C1E5;
$color-purple--50: #7777AA;
$color-purple--75: #7137F6;
$color-purple--80: #6224F3;

$color-transparant: rgba(255,255,255,0.02);

/* MARGIN / PADDING - UTILITY CLASSES */
.mx-auto { margin: 0 auto }

.mt-0 { margin-top: 0}
.mt-xs { margin-top: $margin-xs;}
.mt-sm { margin-top: $margin-sm;}
.mt-md { margin-top: $margin-md;}
.mt-lg { margin-top: $margin-lg;}
.mt-xl { margin-top: $margin-xl;}
.mt-xxl { margin-top: $margin-xxl;}

.mb-0 { margin-bottom: 0}
.mb-xs { margin-bottom: $margin-xs;}
.mb-sm { margin-bottom: $margin-sm;}
.mb-md { margin-bottom: $margin-md;}
.mb-lg { margin-bottom: $margin-lg;}
.mb-xl { margin-bottom: $margin-xl;}
.mb-xxl { margin-bottom: $margin-xxl;}

.ms-0 { margin-top: 0}
.ms-xs { margin-left: $margin-xs;}
.ms-sm { margin-left: $margin-sm;}
.ms-md { margin-left: $margin-md;}
.ms-lg { margin-left: $margin-lg;}
.ms-xl { margin-left: $margin-xl;}
.ms-xxl { margin-left: $margin-xxl;}

.me-0 { margin-right: 0}
.me-xs { margin-right: $margin-xs;}
.me-sm { margin-right: $margin-sm;}
.me-md { margin-right: $margin-md;}
.me-lg { margin-right: $margin-lg;}
.me-xl { margin-right: $margin-xl;}
.me-xxl { margin-right: $margin-xxl;}

.p-0 { padding: 0}
.p-xs { padding: $padding-xs;}
.p-sm { padding: $padding-sm;}
.p-md { padding: $padding-md;}
.p-lg { padding: $padding-lg;}
.p-xl { padding: $padding-xl;}
.p-xxl { padding: $padding-xxl;}

.pt-0 { padding-top: 0}
.pt-xs { padding-top: $padding-xs;}
.pt-sm { padding-top: $padding-sm;}
.pt-md { padding-top: $padding-md;}
.pt-lg { padding-top: $padding-lg;}
.pt-xl { padding-top: $padding-xl;}
.pt-xxl { padding-top: $padding-xxl;}

.pb-0 { padding-bottom: 0}
.pb-xs { padding-bottom: $padding-xs;}
.pb-sm { padding-bottom: $padding-sm;}
.pb-md { padding-bottom: $padding-md;}
.pb-lg { padding-bottom: $padding-lg;}
.pb-xl { padding-bottom: $padding-xl;}
.pb-xxl { padding-bottom: $padding-xxl;}


/* SANS SERIF - DM SANS -> UPDATE TO MADE SANS*/

.txt-ss-h0 {
    font-family: $font-sans;
    font-size: 140px;
    line-height: 120%;
    font-weight: 500;
}
.txt-ss-h1 {
    font-family: $font-sans;
    font-size: 100px;
    line-height: 120%;
    font-weight: 500;

}
.txt-ss-h2 {
    font-family: $font-sans;
    font-size: 77px;
    line-height: 120%;
    font-weight: 500;

}
.txt-ss-h3 {
    font-family: $font-sans;
    font-size: 60px;
    line-height: 120%;
    font-weight: 500;

}
.txt-ss-h4 {
    font-family: $font-sans;
    font-size: 36px;
    line-height: 120%;
    font-weight: 500;

}
.txt-ss-sub1 {
    font-family: $font-dm-sans;
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;

}
.txt-ss-sub2 {
    font-family: $font-dm-sans;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;

}
.txt-ss-body1 {
    font-family: $font-dm-sans;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;

}
.txt-ss-body2 {
    font-family: $font-dm-sans;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

/* ITALICS -- SPECTRA GT */

.txt-it-h0 {
    font-family: $font-italic;
    font-size: 153px;
    line-height: 120%;
    font-weight: 300;
    font-style: italic;
}
.txt-ss-h1 {
    font-family: $font-italic;
    font-size: 110px;
    line-height: 120%;
    font-weight: 300;
    font-style: italic;
}
.txt-it-h2 {
    font-family: $font-italic;
    font-size: 84px;
    line-height: 120%;
    font-weight: 300;
    font-style: italic;
}
.txt-it-h3 {
    font-family: $font-italic;
    font-size: 65px;
    line-height: 120%;
    font-weight: 300;
    font-style: italic;
}
.txt-it-h4 {
    font-family: $font-italic;
    font-size: 40px;
    line-height: 120%;
    font-weight: 300;
    font-style: italic;
}
.txt-it-sub1 {
    font-family: $font-italic;
    font-size: 31px;
    line-height: 120%;
    font-weight: 300;
    font-style: italic;
}


/* INDENT */

.indent-xxl {
    text-indent: 160px;
}

/* TEXT COLORS */

.txt-white {color: $color-white;}
.txt-nt-10 {color: $color-neutral--10;}
.txt-nt-15 {color: $color-neutral--15;}
.txt-nt-60 {color: $color-neutral--60;}
.txt-nt-100 {color: $color-neutral--100;}

.txt-gr-30 {color: $color-green--30;}
.txt-gr-50 {color: $color-green--50;}
.txt-gr-80 {color: $color-green--80;}

.txt-pp-30 {color: $color-purple--30;}
.txt-pp-50 {color: $color-purple--50;}
.txt-pp-75 {color: $color-purple--75;}
.txt-pp-80 {color: $color-purple--80;}

/* BG COLORS - ADDED STYLE FOR ITALIC ACCENT TEXTS */ 
/* BACKGROUND COLORS */
.bg-white {background-color: $color-white;}
.bg-nt-10 {background-color: $color-neutral--10;}
.bg-nt-15 {background-color: $color-neutral--15;}
.bg-nt-60 {background-color: $color-neutral--60;}
.bg-nt-100 {background-color: $color-neutral--100;}

.bg-gr-30 {background-color: $color-green--30;}
.bg-gr-50 {background-color: $color-green--50;}
.bg-gr-80 {background-color: $color-green--80;}

.bg-pp-30 {background-color: $color-purple--30;}
.bg-pp-50 {background-color: $color-purple--50;}
.bg-pp-75 {background-color: $color-purple--75;}
.bg-pp-80 {background-color: $color-purple--80;}

.bg-transparant {background-color: $color-transparant;}

