@use "base" as *;

/* NAVBAR SECTIE --> QUICK STYLING */

.header-block {
    width: 100%;
}
.header-title-block {
    color: $color-neutral--10;
}

/* SECTION SETTINGS ? */ 
.section-block {
    margin: 1rem 2rem;

}
.section-heading {
    color: $color-neutral--60;
}

/* COVER */

.cover-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: -99;
}

/* NAVBAR SECTIE --> QUICK STYLING */

.navbar {
    background-color: $color-neutral--10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .navbar-brand a {
        text-decoration: none;
        color: $color-neutral--100;
        font-weight: 600;
    }

    .navbar-list {
        list-style-type: none;
        text-decoration: none;
        .navbar-listitem {
            display: inline-block;
            margin-right: 3rem;
        }
        .navbar-listitem:last-of-type {
            margin-right: 0;
        }
    }
    .navbar-link {
        text-decoration: none;
        color: $color-green--50;

    }
    .contact-button {
        text-decoration: none;
        font-weight: 200;
        color: $color-neutral--10;
        background-color: $color-purple--80;
        padding: .5rem 1rem;
    }
}

.countdown {
    text-align: center;

    .countdown-wrap {
    width: 30vw;
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .countdown-data {
        text-align: center;
        width: 25%;
        .countdown-number {
            color: $color-neutral--100;
            font-size: 28px;
            line-height: 36px;
            font-weight: 500;
        }
        .countdown-label {
            color: $color-green--50;
        }
    }
    }
}

.metrics-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: 32px 80px;
    .metric-column {
        .metric-label {
            color: $color-neutral--60;
        }
        .metric-text {
            color: $color-neutral--60;
            max-width: 75%;
        }
    }
}


