/* NAVBAR SECTIE --> QUICK STYLING */

.header-block {
    background-color: #DDD;
    padding: 1rem;
}
.header-title {
    text-align: center;
    color: #333333;
    margin: 1rem 0 1rem 0;
}

/* SECTION SETTINGS ? */ 
.section-block {
    margin: 1rem 2rem;

}
.section-heading {
    color: #333333;
    text-decoration: underline;
}

/* NAVBAR SECTIE --> QUICK STYLING */

.navbar {
    background-color: aliceblue;
}

.navbar-list {
    list-style-type: none;
    text-decoration: none;
}

.navbar-brand a,
.navbar-link {
    text-decoration: none;
}

.contact-button {
    text-decoration: none;
}
